<%- include('TableHeader.ejs') -%>
<%- include('Navbar.ejs') -%>
<h1> List of your patients.</h1>
<table  class="tableStyle">
    <thead>
    <tr>
        <th   scope="col">Name</th>
        <th   scope="col">Illness</th>
        <th   scope="col">Date of birth</th>
        <th   scope="col">Name of the doctor</th>
        <th   scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Test_Name</td>
        <td>Covid</td>
        <td>1111.11.11</td>
        <td>Doctor_name</td>
        <td>
            <a href='/Patient/edit/<%= patient._id%>'> <i class="far fa-edit"> </i> </a>
            <a href='#'> <i class="far fa-trash-alt"></i> </a>
        </td>
    </tr>

    </tbody>
</table>
</body>
<%- include('Footer.ejs') -%>