<%- include('Header.ejs') -%>
<%- include('Navbar.ejs') -%>
<div class="container">
    <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form class="form-signin" method="post">
        <div class = "row">
            <label  name="indexLabel"  for="Username"><b>Username</b></label>
        </div>
        <div class = "row">
            <input name="username"  type="text" id="Username" class="form-control" placeholder="Username" required autofocus>
        </div>
        <div  class = "row">
            <label name="indexLabel"  for="inputPassword"><b>Password</b></label>
        </div>
        <div  class = "row">
            <input name="password"  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div  class="row">
            <input  name="submitButton"  type="submit"   class="btn btn-primary" value="Login" />
        </div>

    </form>
</div>
</body>
</html>
