<nav  class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="navbar-brand" href="#">SiteName</a>
        <a class="py-2 d-none d-md-inline-block" href="/Home">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="/Patient/new/:DoctorID">Add new patient</a>
        <a class="py-2 d-none d-md-inline-block" href="/Doctors/new">Add new doctor</a>
        <a class="py-2 d-none d-md-inline-block" href="/Doctors">Doctors</a>
        <a class="py-2 d-none d-md-inline-block" href="/Patients">Patients</a>
        <a class="py-2 d-none d-md-inline-block" href="/Logout">Logout</a>
    </div>
</nav>