<%- include('Header.ejs') -%>
<%- include('Navbar.ejs') -%>
<div  class="registeringContainer">
    <form method="POST">
        <div class="row">
            <div class="form-group">
                <label for="Name"> <b>Name</b></label>
                <input type="text" class="form-control" id="Name" name="Name"
                       value="<%= patient.Name%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Illness"><b>Illness</b></label>
                <input type="text" class="form-control" id="Illness" name="Illness">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Birth"> <b>Date of birth</b></label>
                <input type="text" class="form-control" id="Birth" name="Birth">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Doctor_name"><b>Name of the doctor</b></label>
                <input type="text" class="form-control" id="Doctor_name" name="Doctor_name">
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Edit" >
            <a style="margin-left: 50px" class="btn btn-primary" href="/Patients" >Cancel </a>
        </div>
    </form>
</div>
<%- include('Footer.ejs') -%>